.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30em;
}

#paper, #scissors{
    margin-left: 20%;
}

#rock, #paper{
    padding-left: 1.2%;
    padding-right: 1.2%;
}

.button:hover{
    color: grey;
    box-shadow: 0 8px 8px 0;
    cursor: pointer;
}

h1, .select{
    position: relative;
    text-align: center;
    margin-top: 5%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    color: black;
    text-shadow: #FC0 1px 0 10px;
}

.myScore{
    color: blue;
    position: absolute;
    top: 0em;
    left: 1em;
    font-size: 300%;
}

.computerScore{
    color: red;
    position: absolute;
    top: 0em;
    right: 1em;
    font-size: 300%;
}

.welcome{
    position: absolute;
    font-style: oblique;
    font-size: 300%;
    top: 0.5em;
    right: .5em;
    left: .5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.select{
    color: grey;
    position: absolute;
    right: .5em;
    left: .5em;
    bottom: 25%;
}

.myScoreCounter{
    position: absolute;
    top: 0em;
    left: 1.9em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.computerScoreCounter{
    position: absolute;
    top: 0em;
    right: 1.7em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rock{
    position: absolute;
    left: 11em;
}

.bit_rock{
    position: absolute;
    left: 17.5em;
    bottom: 19em;
}

.bit_paper{
    position: absolute;
    bottom: 19em;
    left: 39.5em;
}

.bit_scissors{
    position: absolute;
    bottom: 19em;
    right: 19.5em;
}

html{
    background-color: #FFDEE9;
}
